.container {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    .data {

        .id {
            width: 10%;
        }

        .fname {
            width: 20%;
        }

        .lname {
            width: 20%;
        }
    }

    .controls {
        
    }
}
