@import '../../app.component.scss';

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $navbar-color;
    color: $font-color;

    .logo {
        padding: 0 20px;
    }

    h1 {
        margin: 5px;
        padding: 0;

        a {
            text-decoration: none;
            color: $font-color;

            &:hover {
                color: $accent-color;
            }
        }
    }

    @media (min-width: 768px) {
        .collapse {
            label {
                display: none;
            }
            input {
                display: none;
            }
        }

        .links {
            display: flex;
        }

        ul {
            list-style-type: none;
            flex-direction: row;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: $navbar-color;

            li {
                a {
                    display: block;
                    color: $font-color;
                    text-align: center;
                    padding: 10px 16px;
                    text-decoration: none;
                    font-size: $font-size;

                    &:hover {
                        color: $accent-color;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {

        .collapse {
            padding: 0px 15px;
            border-bottom: 1px solid $bold-color;
            box-shadow: 1px 2px 3px;

            label {
                font-size: 2em;
                display: block;
                align-items: center;
                cursor: pointer;
            }

            input {
                display: none;
            }

            input:checked {
                display: none;
            }

            .menu-content {
                max-height: 0;
                overflow: hidden;
            }

            input:checked~.menu-content {
                max-height: 100%;
            }

            ul {
                list-style-type: none;
                display: block;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: $navbar-color;

                li:first-child {
                    margin-right: auto;
                }

                li {
                    float: right;

                    a {
                        display: block;
                        color: $font-color;
                        text-align: center;
                        padding: 10px 0;
                        text-decoration: none;
                        font-size: $font-size;

                        &:hover {
                            color: $accent-color;
                        }
                    }
                }
            }
        }
    }
}